<%= turbo_frame_tag 'module-credentials' do %>

<% if credentials.length.positive? %>
  <% credentials.each do |credential| %>
    <div class="mb-3">
      <%= render 'credentials/shared/card', credential: credential %>
    </div>
  <% end %>
<% else %>
  <%= render 'shared/placeholder' %>
<% end %>

<% end %>
