<div class="d-flex justify-content-center mb-4 mt-4">
  <svg viewBox="0 0 566 566" style="width: 100px; height: 100px;">
    <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
      <g>
        <polygon fill="#181d45" transform="translate(282.842712, 282.842712) rotate(45.000000) translate(-282.842712, -282.842712) " points="82.8427125 82.8427125 482.842712 82.8427125 348.007755 348.007755 82.8427125 482.842712"></polygon>
        <path d="M284,283 L284,533" stroke="#181d45" stroke-width="40" stroke-linecap="square"></path>
      </g>
    </g>
  </svg>
</div>

<div class="text-center">
  Matilda è un software <b>open source</b> in continua evoluzione.<br>
  <br>
  Il codice sorgente è disponibile su <a href="https://github.com/Matilda-org/matilda" target="_blank" rel="noopener">GitHub</a>.<br>
  Per segnalare bug o richiedere nuove funzionalità, apri una issue su <a href="https://github.com/Matilda-org/matilda/issues" target="_blank" rel="noopener">GitHub Issues</a>.<br>
  <br>
  Grazie per utilizzare Matilda! ❤️
</div>