<%

project ||= Project.new

%>

<% if project.projects_events.length.positive? %>
<ol class="list-group">
  <% project.projects_events.order(created_at: :desc).each do |event| %>
    <li class="list-group-item d-flex justify-content-between align-items-center">
      <div>
        <div class="mb-1" style="font-size: 14px;"><%= event.message %></div>
        <div class="text-muted" style="font-size: 12px;"><%= event.created_at.strftime('%d/%m/%Y %H:%M') %></div>
      </div>
    </li>
  <% end %>
</ol>
<% else %>
  <%= render 'shared/placeholder' %>
<% end %>