<%

project ||= Project.new

%>

<% if project.procedures_valid_as_item.size.positive? %>
<a
  href="<%= projects_actions_path(type: 'add-procedures-item', id: project.id) %>"
  data-turbo-frame="action"
  class="btn btn-primary w-100"
  data-user-policies-target="item" data-policy="procedures_edit"
>Aggiungi ad una board</a>
<% end %>
