<%

task ||= Task.new
turbo_frame_key = dom_id(task, 'tasks-calendar-item')


%>

<%= turbo_frame_tag turbo_frame_key do %>
  <li class="c-kanban__item list-group-item">
    <%= render 'tasks/shared/card', task: task, turbo_frame_key: 'tasks-calendar' %>
  </li>
<% end %>