<div class="row" data-controller="presentation-editor">

  <div class="col col-12 col-md-3 mb-3 mb-md-0">
    <%= render 'presentations/editor/nav', page: @page %>
  </div>

  <div class="col col-12 col-md-9">
    <%= render 'presentations/editor/player', page: @page %>
  </div>

</div>