<div class="btn-group" role="group">
  <a
    type="button"
    class="btn btn-primary"
    href="<%= presentations_actions_path(type: 'create') %>"
    data-turbo-frame="action"
    data-user-policies-target="item"
    data-policy="presentations_create"
    data-controller="tooltip"
    data-tooltip="Crea nuova presentazione"
  >
    <i class="bi bi-plus-circle"></i>
  </a>
</div>