<% if @page %>
  <div class="w-100 mt-3 d-flex flex-column justify-content-center align-items-center" style="height: calc(100vh - 58px - 30px);">
    <p class="mb-3"><%= @presentation.description %></p>
    <%= render 'presentations/shared/player', presentation: @presentation, page: @page, ratio: true %>
  </div>
<% else %>
<div class="card mt-5 mb-5">
  <div class="card-body text-center">
    <div class="mb-3" style="font-size: 50px;"><i class="bi bi-exclamation-circle"></i></div>
    <h2 class="fs-2">Pagina non disponibile</h2>
    <p>Ci dispiace ma la pagina non è più disponibile.</p>
  </div>
</div>
<% end %>