<%

credentials ||= []

%>

<div class="row">
  <% credentials.each do |credential| %>
    <div class="col col-12 col-xl-4 mb-3">
      <%= render 'credentials/shared/card', credential: credential, show_only: true %>
    </div>
  <% end %>
</div>