<%

user ||= User.new
redirect ||= nil

%>

<%= form_tag authentication_login_action_path(redirect: redirect), class: 'row', data: { turbo_frame: 'false', controller: 'form-loading' } do %>

  <div class="col col-12 mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="<%= user.email %>" required>
  </div>

  <div class="col col-12 mb-3">
    <label for="password" class="form-label">Password</label>
    <input type="password" class="form-control" id="password" name="password" value="" required>
  </div>

  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-form-submit" data-form-loading-target="submit">Conferma</button>
  </div>
<% end %>