<%= form_tag authentication_recover_password_action_path, class: 'row', data: { turbo_frame: 'false', controller: 'form-loading' } do %>

  <div class="col col-12 mb-3">
    <label for="email" class="form-label">Email</label>
    <input type="email" class="form-control" id="email" name="email" value="" required>
  </div>

  <div class="d-flex justify-content-end">
    <button type="submit" class="btn btn-primary btn-form-submit" data-form-loading-target="submit">Continua</button>
  </div>
<% end %>