<%

task ||= Task.new
hide_project ||= false

%>

<% if task.user || task.unresolved? %>
  <div class="mb-1 d-flex align-items-center">
    <% if task.unresolved? %>
      <i 
        class="bi bi-chat-dots me-2"
        data-controller="tooltip"
        data-tooltip="Commenti in attesa di risposta dall'assegnatario"
      ></i>
    <% end %>
    <% if task.user %>
      <%= render 'users/shared/preview', user_id: task.user_id, size: 'sm', type: hide_project ? task.color_type : 'light' %>
    <% end %>
  </div>
<% end %>

<%= render 'tasks/shared/card-content-tags', task: task, hide_project: hide_project %>