<%

path ||= '#'

%>

<div class="text-center">
  <h3 class="fs-5 mb-3">Sei sicuro di procedere con l'azione?</h3>
  <p class="mb-4">Sei sempre in tempo per cambiare idea.</p>
  <%= form_tag path, class: 'row justify-content-center', data: { controller: 'form-loading' } do %>
    <div class="col-auto">
      <a type="button" href="#" data-action="click->action#closeModal" class="btn btn-danger">Annulla</a>
    </div>
    <div class="col-auto">
      <button type="submit" class="btn btn-success" data-form-loading-target="submit">Procedi</button>
    </div>
  <% end %>
</div>
