<%

message ||= I18n.t('app.labels.no_elements_to_display')

%>

<div class="text-center text-muted pt-5 pb-5">
  <div class="fs-1 mb-3"><i class="bi bi-book"></i></div>
  <h3 class="fs-5"><%= message %></h3>
</div>