<div class="d-flex justify-content-center align-items-center" style="min-height: calc(100vh - 100px)">
<div class="card shadow w-100" style="max-width: 400px;">
  <div class="card-body">
    <h1 class="card-title text-center fs-4">Recupero password</h1>
    <h6 class="card-subtitle text-muted text-center">Inserisci il tuo indirizzo email per proseguire</h6>
    <hr />
    <%= render 'layouts/application/flash' %>
    <%= render 'authentication/shared/form-recover-password' %>
  </div>
</div>
</div>