<div class="btn-group" role="group">
  <a
    type="button"
    class="btn btn-primary"
    href="<%= projects_actions_path(type: 'create', folder_id: @folder&.id) %>"
    data-turbo-frame="action"
    data-user-policies-target="item"
    data-policy="projects_create"
    data-controller="tooltip"
    data-tooltip="Crea nuovo progetto"
  >
    <i class="bi bi-plus-circle"></i>
  </a>
</div>