<div class="modal fade" id="actionModal" tabindex="-1" role="dialog" aria-modal="true" data-bs-backdrop="static" data-controller="action-loader">
  <%= turbo_frame_tag 'action' do %>
  <% end %>
</div>
