<%

primary ||= false

%>

<div class="c-background <%= primary ? 'c-background--primary' : '' %>" style="background-image: url('/background.jpg');">
  <div class="c-background__overlay"></div>
</div>
