<%= render 'shared/action-container', title: 'Rigenera password' do %>
  <div class="text-center" data-controller="destroyer">
    <h3 class="fs-5 mb-3">Sei sicuro di voler rigenerare la password?</h3>
    <p class="mb-4">Scrivi la parola <strong>RIGENERA</strong> per confermare l'operazione. Una nuova password sarà generata automaticamente.</p>
    <%= form_tag users_regenerate_password_action_path(@user), class: 'row', data: { controller: 'form-loading' } do %>
      <div class="col">
        <input type="text" class="form-control" id="confirm" name="confirm" placeholder="Conferma rigenerazione" value="" data-action="keyup->destroyer#update" required>
      </div>

      <div class="col-auto">
        <button type="submit" data-destroyer-target="submit" class="btn btn-warning" disabled data-form-loading-target="submit">Conferma</button>
      </div>
    <% end %>
  </div>
<% end %>