<% if Setting.get('credentials_phrase') %>

<%= yield %>

<% elsif @session_user.policy?('credentials_set_phrase') %>

<div class="modal fade" data-controller="credentials-phrase" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h1 class="fs-2 mb-3">Imposta password di criptazione</h1>
        <p>Per utilizzare il modulo credenziali è necessario impostare una password di criptazione.</p>
        <p><b>ATTENZIONE:</b> una volta impostata la password non potrà più essere modificata.</p>

        <%= form_tag credentials_set_phrase_action_path, class: 'row', data: { action: 'credentials-phrase#onSubmit', turbo_frame: 'action' } do %>
          <input type="hidden" name="phrase" value="" data-credentials-phrase-target="phrase">

          <div class="col col-12 mb-3">
            <label for="password" class="form-label">Password</label>
            <input type="password" class="form-control" id="password" name="password" data-credentials-phrase-target="password" data-action="credentials-phrase#onChangePassword" value="" required>
          </div>

          <div class="col col-12 mb-3">
            <label for="password_confirmation" class="form-label">Conferma password</label>
            <input type="password" class="form-control" id="password_confirmation" name="password_confirmation" data-credentials-phrase-target="passwordConfirmation" data-action="credentials-phrase#onChangePassword" value="" required>
          </div>

          <div class="d-flex justify-content-end">
            <button type="submit" class="btn btn-primary btn-form-submit" data-credentials-phrase-target="submit" disabled>Conferma</button>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>

<% else %>

<div class="modal fade" data-controller="credentials-phrase" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-body text-center">
        <h1 class="fs-2 mb-3">Credenziali non disponibili</h1>
        <p>Per utilizzare il modulo credenziali è necessario impostare una password di criptazione.</p>
        <p>Potrai utilizzare le credenziali una volta che la password è stata impostata da un amministratore.</p>
      </div>
    </div>
  </div>
</div>

<% end %>