<% if feeds.length.positive? %>
<div class="mb-4">
  <div class="row mb-3 d-flex justify-content-between align-items-center">
    <div class="col">
      <h1 class="fs-5 mb-0 h-text-oneline">From web</h1>
    </div>
  </div>

  <div class="row align-items-stretch">
    <% feeds.each do |feed| %>
      <div class="col col-12 col-md-12 col-lg-6 col-xl-4 mb-3 d-flex align-items-stretch">
        <div class="card w-100">
          <div class="card-body">
            <div class="d-flex justify-content-between align-items-center" style="font-size: 14px;">
              <p class="text-muted"><%= feed[:source] %></p>
              <p class="text-muted"><%= feed[:pub_date].strftime('%d/%m/%Y') %></p>
            </div>
            <p class="card-text fw-bold"><%= feed[:title] %></p>
          </div>
          <div class="card-footer d-flex justify-content-end">
            <% unless feed[:link].blank? %>
              <a href="<%= feed[:link] %>" target="_blank" class="btn btn-sm btn-primary ms-3">Dettagli</a>
            <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <hr>
</div>
<% end %>