<div class="btn-group" role="group">
  <a type="button" class="btn btn-primary" href="<%= posts_actions_path(type: 'create') %>" data-turbo-frame="action" data-user-policies-target="item" data-policy="posts_create">
    <i class="bi bi-plus-circle"></i>
  </a>
</div>