.c-tasks-tracker {
  background-color: rgba(var(--bs-white-rgb), 0.25);
  border-radius: 30px;
  padding: 3px 10px;
  color: var(--bs-white);
  position: relative;
  overflow: hidden;
}

.c-tasks-tracker__container {
  display: flex;
  align-items: center;
}

.c-tasks-tracker__actions {
  font-size: 20px;
}

.c-tasks-tracker__actions a {
  color: var(--bs-white);
}

.c-tasks-tracker__actions a:hover {
  color: var(--bs-white);
}

.c-tasks-tracker__time {
  font-weight: bold;
  margin-right: 7.5px;
  padding-right: 7.5px;
  border-right: solid 1px var(--bs-white);
  min-width: 85px;
}

.c-tasks-tracker__title {
  display: none;

  @media (min-width: 1280px) {
    display: flex;
    margin-right: 10px;
    font-size: 14px;
    align-items: center;
  }

  .point {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin-right: 5px;
    border: solid 2px var(--bs-white);
    animation: tasksTrackerTitlePointAnim 2s ease-in-out infinite;
  }
}

@keyframes tasksTrackerTitlePointAnim {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}