.vectorsearch {

}

.vectorsearch__background {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9997;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.75);
  transition: all 0.3s ease-in-out;
  opacity: 0;
  visibility: hidden;

  &.is-open {
    opacity: 1;
    visibility: visible;
  }
}

.vectorsearch__opener {
  position: fixed;
  bottom: 30px;
  left: 30px;
  z-index: 100;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: var(--bs-primary);
  color: var(--bs-light);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  border: none;
  transition: transform 0.3s ease-in-out;

  &:hover {
    transform: scale(1.1);
  }
}

.vectorsearch__content {
  position: fixed;
  bottom: 15px;
  left: 15px;
  z-index: 9999;
  transition: all 0.3s ease-in-out;
  opacity: 0;
  transform: translateY(100%);

  &.is-open {
    opacity: 1;
    transform: translateY(0);
  }

  .card {
    width: 660px;
  }

  .card-body {
    height: calc(100svh - 230px);
    padding: 0;
  }

  @media screen and (max-width: 767px) {
    width: calc(100% - 30px);

    .card {
      width: 100%;
    }

    .card-body {
      height: calc(100svh - 158px);
    }
  }
}

.vectorsearch__chat {
  overflow-y: auto;
  max-height: 100%;
  padding: 15px;
}

.vectorsearch__chat-message {
  border-radius: 10px;
  padding: 10px 15px;
  font-size: 14px;
  margin-bottom: 10px;
  max-width: 75%;
  width: auto;

  &--user {
    background-color: var(--bs-primary);
    color: var(--bs-light);
    margin-left: auto;
  }

  &--assistant {
    background-color: var(--bs-light);
    color: var(--bs-dark);
    margin-right: auto;
  }
}

.vectorsearch__chat-empty {
  text-align: center;
  font-size: 18px;
  color: var(--bs-gray-500);
  width: 100%;
  padding: 50px 0;

  i {
    font-size: 80px;
    margin-bottom: 10px;
    display: block;
  }
}

.vectorsearch__chat-loading {
  width: 100%;
  text-align: center;
}

.vectorsearch__chat-loading .animation {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.vectorsearch__chat-loading .animation div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: var(--bs-primary);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.vectorsearch__chat-loading .animation div:nth-child(1) {
  left: 8px;
  animation: vectorsearchChatLoadingAnim1 0.6s infinite;
}
.vectorsearch__chat-loading .animation div:nth-child(2) {
  left: 8px;
  animation: vectorsearchChatLoadingAnim2 0.6s infinite;
}
.vectorsearch__chat-loading .animation div:nth-child(3) {
  left: 32px;
  animation: vectorsearchChatLoadingAnim2 0.6s infinite;
}
.vectorsearch__chat-loading .animation div:nth-child(4) {
  left: 56px;
  animation: vectorsearchChatLoadingAnim3 0.6s infinite;
}
@keyframes vectorsearchChatLoadingAnim1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes vectorsearchChatLoadingAnim3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes vectorsearchChatLoadingAnim2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
