<%

credential ||= Credential.new
show_only ||= false

%>

<div class="d-flex justify-content-between">
  <a class="card-link" href="<%= credentials_actions_path(type: 'show', id: credential.id) %>" data-turbo-frame="action">Visualizza</a>
  
  <% unless show_only %>
  <div>
    <a class="card-link" href="<%= credentials_actions_path(type: 'edit', id: credential.id) %>" data-turbo-frame="action" data-user-policies-target="item" data-policy="credentials_edit">Modifica</a>
    <a class="card-link text-danger" href="<%= credentials_actions_path(type: 'destroy', id: credential.id) %>" data-turbo-frame="action" data-user-policies-target="item" data-policy="credentials_destroy">Elimina</a>
  </div>
  <% end %>
</div>