<%

credential ||= Credential.new
show_only ||= false

%>

<%= render 'shared/card',
  nav_icon_key: 'credentials',
  title: credential.name,
  subtitle: "Ultima modifica #{credential.updated_at.strftime('%d/%m/%Y')}",
  resource_id: show_only ? nil : credential.id,
  resource_type: 'Credential',
  folders_item: show_only ? nil : credential.cached_folder_item_data || {},
  render_actions: 'credentials/shared/card-actions',
  render_actions_args: { credential: credential, show_only: show_only } do %>

<div class="fw-bold">
  <% unless credential.secure_username.blank? %>
    Username: <span class=""><%= "∙" * rand(10..15) %></span><br>
  <% end %>
  <% unless credential.secure_password.blank? %>
    Password: <span class=""><%= "∙" * rand(10..15) %></span><br>
  <% end %>
</div>
<% end %>
