<div data-controller="credentials-viewer" data-credentials-viewer-phrase-value="<%= Setting.get('credentials_phrase') %>">
  <div class="input-group mb-3" data-controller="clipboard" data-clipboard-success-content="Copiato!">
    <input class="form-control" name="username" placeholder="Username" data-value="<%= credential.secure_username %>" data-credentials-viewer-target="input" data-clipboard-target="source" readonly />
    <button type="button" class="btn btn-primary" data-action="clipboard#copy" data-clipboard-target="button">Copia</button>
  </div>

  <div class="input-group mb-3" data-controller="clipboard" data-clipboard-success-content="Copiato!">
    <input class="form-control" type="password" name="password" placeholder="Password" data-value="<%= credential.secure_password %>" data-credentials-viewer-target="input" data-clipboard-target="source" readonly />
    <button type="button" class="btn btn-primary" data-action="clipboard#copy" data-clipboard-target="button">Copia</button>
  </div>

  <div class="mb-3">
    <div class="input-group">
      <textarea class="form-control" name="content" rows="5" placeholder="Content" value="" data-value="<%= credential.secure_content %>" data-credentials-viewer-target="input" readonly></textarea>
    </div>
    <div class="form-text text-secondary text-center mt-3 d-none" data-credentials-viewer-target="copyPassword">Password copiata negli appunti.</div>
  </div>
</div>
