<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title><%= nav_title(@_navbar) %></title>
    <link rel="stylesheet" href="https://unpkg.com/gutenberg-css@0.7" media="print">
    <style>
      * {
        box-sizing: border-box;
      }
      html, body {
        font-family: Arial, Helvetica, sans-serif;
        margin: 0;
        padding: 0;
      }
      body {
        padding: 25px;
      }
      header {
        margin-bottom: 25px;
        padding-bottom: 25px;
        border-bottom: 1px solid #000;
      }
      header h1 {
        margin: 0;
        padding: 0;
        font-size: 24px;
      }
      main h1, main h2, main h3, main h4, main h5, main h6, main p, main table, main ul, main ol {
        margin: 0;
      }
      main table {
        width: 100%;
        border: 1px solid #000;
        border-collapse: collapse;
      }
      main table th, main table td {
        padding: 8px;
        border: 1px solid #000;
        text-align: left;
        vertical-align: top;
      }
    </style>
    <style media="print">
      @page {
        size: auto;
        margin: 0;
      }
      body {
        -webkit-print-color-adjust: exact;
        print-color-adjust: exact;
      }
    </style>
  </head>
  <body>
    <header>
      <% if @_print_title %>
        <h1><%= @_print_title %></h1>
      <% else %>
        <h1><%= Setting.get('infos_company_name') %></h1>
      <% end %>
    </header>
    <main>
      <%= yield %>
    </main>

    <script>
      window.addEventListener('DOMContentLoaded', () => window.print())
    </script>
  </body>
</html>